Package: nems-migrator
Essential: yes
Priority: required
Section: migrator
Maintainer: NEMS Linux <nems@category5.tv>
Architecture: all
Version: 1.6.037
Provides: nems-migrator
Description: NEMS Migrator
